<p class="font-bold text-3xl">
  <span class="prefix">{{ prefixText }}</span>
  <a class="text-blue-200 hover:text-blue-100 cursor-pointer font-bold"
    [routerLink]="'/contact'">
    {{ linkText }}
  </a>
  <span class="suffix">{{ suffixText }}</span>
</p>

<h2>Alle hulp is welkom</h2>
<p>
  Wij zijn inmiddels live met de mogelijkheid om je te registreren als school of gastdocent.
  LITTIL is een Open Source initiatief en wordt gemaakt en beheerd door uitsluitend vrijwilligers.
  Vind je het leuk om hier ook een bijdrage aan te leveren, neem dan  contact met ons op of draag direct bij via onze
  <a href="https://github.com/Devoxx4Kids-NPO/littil-documentation" target="_blank">github</a> repository.
</p>

<littil-button [inline]="true" (onClick)="navToContact()">Contact us</littil-button>
