<div [class.mb-3]="marginBottom" class="flex flex-col">
  <label
    *ngIf="label"
    [for]="id"
    [class.text-white]="textWhite"
    class="font-bold"
    >{{ label }}</label
  >
  <input
    type="text"
    [ngClass]="getCssClasses()"
    [attr.maxLength]="maxLength ? maxLength : undefined"
    [id]="id"
    [value]="value"
    [placeholder]="placeholder"
    [disabled]="disabled"
    (change)="value = $any($event.target).value"
    (touched)="onTouched($event)"
  />
  <ng-content></ng-content>
</div>
