{
  "auth0_tenant": "https://tenant.eu.auth0.com",
  "userCredentials": {
    "guestTeacher": { "username": "user1@example.com", "password": "password1" },
    "school": { "username": "user2@example.com", "password": "password2" }
  }
}
