{
  "auth0_tenant": "https://tenant.eu.auth0.com",
  "userCredentials": {
    "user1": { "username": "user1@example.com", "password": "password1" },
    "user2": { "username": "user2@example.com", "password": "password2" }
  }
}



