<littil-title>Administrator</littil-title>

<littil-content-container>
    <div class="grid grid-cols-12 gap-x-4 my-12">
      <article class="col-span-12 md:col-span-8">


      <table>
        <thead>
        <tr>
          <th>rol</th>
          <th>aantal</th>
          <th>administrators</th>
        </tr>
        </thead>
        <tbody>
<!--        <tr *ngFor="let userStatistic of usersStatitics$ | async">-->
<!--          <td>{{ userStatistic.role }}</td>-->
<!--          <td>{{ userStatistic.count }}</td>-->
<!--          <td>{{ userStatistic.admins }}</td>-->
<!--        </tr>-->
        </tbody>
      </table>
      </article>

    </div>
</littil-content-container>
<littil-footer></littil-footer>
