<div class="p-4 bg-blue-50 flex justify-between items-center">
    <div>Logo</div>

    <div>
        <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
            <littil-button
                [inline]="true"
                (click)="auth.logout({ returnTo: document.location.origin })"
                data-test="login-btn">
                Uitloggen
            </littil-button>
        </ng-container>
      
        <ng-template #loggedOut>
            <littil-button
                [inline]="true"
                (click)="openRegisterDialog()"
                data-test="register-btn">
                Registeren
            </littil-button>

            <littil-button
                [inline]="true"
                (click)="auth.loginWithRedirect()"
                data-test="login-btn">
                Inloggen
            </littil-button>
        </ng-template>
    </div>
</div>
  