<littil-profile-container title="Profiel wijzigen" *ngIf="!loading">
  <form [formGroup]="profileForm" data-test="form-profile" (submit)="onClickSaveProfile()">
    <ng-container *ngIf="isSchool">
      <littil-form-input-text
        *ngIf="isSchool"
        formControlName="schoolName"
        id="schoolName"
        label="Naam van de school"
        data-test="schoolNameControl"
      >
        <littil-form-error-message
          [customErrors]="{ required: 'Naam van de school is verplicht' }"
          controlName="schoolName"
        ></littil-form-error-message>
      </littil-form-input-text>
      <p class="mb-0 font-bold">Gegevens contactpersoon</p>
    </ng-container>

    <div class="flex gap-2">
      <littil-form-input-text
        formControlName="firstName"
        id="firstName"
        label="Voornaam"
        class="grow"
      >
        <littil-form-error-message
          [customErrors]="{ required: 'Voornaam is verplicht' }"
          controlName="firstName"
        ></littil-form-error-message>
      </littil-form-input-text>
      <littil-form-input-text
        formControlName="prefix"
        id="prefix"
        label="Tussenvoegsel"
        class="w-1/5"
      >
      </littil-form-input-text>
      <littil-form-input-text
        formControlName="surname"
        id="surname"
        label="Achternaam"
        class="grow"
      >
        <littil-form-error-message
          [customErrors]="{ required: 'Acthernaam is verplicht' }"
          controlName="surname"
        ></littil-form-error-message>
      </littil-form-input-text>
    </div>

    <ng-container *ngIf="!isSchool">
      <legend class="font-bold ng-star-inserted mb-1">Beschikbaarheid</legend>
      <div class="" formGroupName="availability">
        <div class="relative flex items-start" *ngFor="let day of days">
          <label class="font-medium text-gray-900">
            <input
              [id]="day.value"
              [name]="day.value"
              type="checkbox"
              [formControlName]="day.value"
              class="h-4 w-4 rounded border-gray-300 text-blue-200 focus:ring-blue-200"
            />
            {{ day.description }}
          </label>
        </div>
      </div>
    </ng-container>
    <p *ngIf="!isSchool">
      Om scholen en gastdocenten elkaar te laten vinden, hebben wij uw adres nodig. Deze gegevens
      worden niet met derden gedeeld en alleen gebruikt om uw locatie op de plattegrond te tonen.
    </p>
    <p *ngIf="isSchool">
      Om scholen en gastdocenten elkaar te laten vinden, hebben wij het adres van de school nodig.
      Deze gegevens worden niet met derden gedeeld en alleen gebruikt om de locatie van de school op
      de plattegrond te tonen.
    </p>
    <div class="flex gap-2 mb-3">
      <littil-form-input-text formControlName="address" id="address" label="Straat" class="grow">
        <littil-form-error-message
          [customErrors]="{ required: 'Straat is verplicht' }"
          controlName="address"
        ></littil-form-error-message>
      </littil-form-input-text>

      <littil-form-input-text
        formControlName="postalCode"
        id="postalCode"
        label="Postcode"
        class="w-1/3"
      >
        <littil-form-error-message
          [customErrors]="{
            required: 'Postcode is verplicht',
            pattern: 'Voer een correct Nederlands postcode in'
          }"
          controlName="postalCode"
        ></littil-form-error-message>
      </littil-form-input-text>
    </div>
    <div class="flex gap-2 justify-between mt-4">
      <div>
        <littil-button [inline]="true" (click)="onClickSaveProfile()">
          Profiel opslaan
        </littil-button>
        <littil-button [inline]="true" (click)="onCancelChanges($event)" color="yellow">
          Wijzigingen annuleren
        </littil-button>
      </div>
      <littil-button
        data-test="enable_delete_profile"
        [inline]="true"
        color="red"
        (click)="deleteProfileOpen = !deleteProfileOpen; $event.preventDefault()"
      >
        Profiel verwijderen
      </littil-button>
    </div>
  </form>
  <form
    data-test="delete_profile"
    class="border border-red-600 rounded rounded-md p-2 mt-8 text-red-900"
    *ngIf="deleteProfileOpen"
    [formGroup]="deleteProfileForm"
  >
    <p class="mt-0">
      Weet u zeker dat u uw profiel wilt verwijderen? Al uw gegevens worden verwijderd. Dit kan niet
      ongedaan worden gemaakt. Geef hieronder uw e-mailadres in en klik op verwijderen om door te
      gaan.
    </p>

    <div class="flex">
      <littil-form-input-text formControlName="email" placeholder="email@example.com" class="grow">
        <littil-form-error-message
          [customErrors]="{ email_missing: 'Vul ter bevestiging uw eigen e-mailadres in' }"
          controlName="email"
        ></littil-form-error-message>
      </littil-form-input-text>
    </div>
    <div class="flex justify-between">
      <littil-button
        [inline]="true"
        (click)="deleteProfileOpen = !deleteProfileOpen; $event.preventDefault()"
        color="yellow"
      >
        Verwijderen annuleren
      </littil-button>
      <littil-button [inline]="true" color="red" (click)="deleteProfile(); $event.preventDefault()">
        Profiel definitief verwijderen
      </littil-button>
    </div>
  </form>
</littil-profile-container>
<littil-footer></littil-footer>
