<littil-title>Gebruikers</littil-title>
<littil-content-container>
  <div>
    <table>
      <thead>
      <tr>
        <th>email</th>
        <th>rolen</th>
        <th>Provider</th>
        <th>providerId</th>
        <th>laatste Login</th>
        <th>Aantal logins</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users$ | async">
        <td>{{ user.emailAddress }}</td>
        <td>{{ user.roles }}</td>
        <td>{{ user.provider }}</td>
        <td>{{ user.providerId }}</td>
        <td>{{ user.lastLogin | date: 'dd-MM-yyyy' }}</td>
        <td>{{ user.loginsCount}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</littil-content-container>
