<littil-title>Modules</littil-title>

<littil-content-container>
  <p>
    Project LITTIL is ontstaan uit een idee van Stichting Devoxx4Kids Nederland.
    Deze stichting heeft meerdere modules in haar beheer waarmee vrijwilligers
    programmeerlessen kunnen geven aan kinderen in de leeftijd van 8 tot 14
    jaar.
  </p>
  <div class="flex flex-col gap-y-4 mt-6">
    <h2>Workshops</h2>
    <p>
      <b
        >Indien je aan de slag wilt met een les module, dan raden wij je aan om
        de volgende workshops als basis te nemen:</b
      >
    </p>
    <ul class="list-disc">
      <li>
        Een spelletje programmeren met Scratch (zonder installatie meteeen aan
        de slag):
        <ul>
          <li>
            <a
              href="https://github.com/devoxx4kids/materials/tree/master/workshops/scratch/nl/Kubecon_2023/appels"
              target="_blank"
              >Vang de appels</a
            >
          </li>
          <li>
            <a
              href="https://github.com/devoxx4kids/materials/tree/master/workshops/scratch/nl/Kubecon_2023/racen"
              target="_blank"
              >Auto racen</a
            >
          </li>
        </ul>
      </li>
      <li>
        Leren programmeren door middel van een spel te spelen met CodeCombat
        (hiervoor moet je van te voren gebruikers namen configureren):
        <ul>
          <li>
            <a
              href="https://github.com/devoxx4kids/materials/blob/master/workshops/CodeCombat/nl/UtrechtJUG_Devoxx4kids_CodeCombat_v.1.0.pdf"
              target="_blank"
              >CodeCombat</a
            >
          </li>
        </ul>
      </li>
      <li>
        Aan de slag zonder computer met CSUnplugged (hier heb je wat eigen
        materialen voor nodig):
        <ul>
          <li>
            <a
              href="http://www.devoxx4kids.org/nederland/materiaal/cs-unplugged/"
              target="_blank"
              >CSUnplugged</a
            >
          </li>
        </ul>
      </li>
      <li>
        Muziek maken door te programmeren in Ruby (hier moet je van te voren wat
        installeren):
        <ul>
          <li>
            <a
              href="http://www.devoxx4kids.org/nederland/materiaal/sonic-pi/"
              target="_blank"
              >SonicPi</a
            >
          </li>
        </ul>
      </li>
      <li>
        Een algemene IT les met uitgebreide gastdocent instructies vind je hier:
        <ul>
          <li>
            <a
              href="https://github.com/devoxx4kids/materials/tree/master/workshops/IntroductionToIT/nl"
              target="_blank"
              >Introductie IT</a
            >
          </li>
        </ul>
      </li>
      <li>
        Al het materiaal is te vinden onder deze link, niet alle modules zijn
        echter direct toe te passen in de klas:
        <ul>
          <li>
            <a
              href="http://www.devoxx4kids.org/nederland/materiaal/"
              target="_blank"
              >Devoxx4kids materiaal</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div>
</littil-content-container>
<littil-footer></littil-footer>
