<littil-title>Disclaimer</littil-title>

<littil-content-container>

  <p>De informatie op onze website is bedoeld als algemene informatie. Wij (Stichting Devoxx4kids Nederland)
    streven er naar dat de informatie juist, volledig en actueel is. Niettemin kan de informatie onjuistheden
    of typefouten bevatten. Wij staan dan ook niet in voor de juistheid, volledigheid en actualiteit van de
    informatie. Evenmin garanderen wij dat de website foutloos of ononderbroken functioneert of toegankelijk
    is. Wij kunnen dan ook geen aansprakelijkheid accepteren voor eventuele schade als gevolg van het gebruik
    van deze website.</p>

  <strong>Het onderstaande is van toepassing op onze website. Door de website te gebruiken stemt u in met
    deze disclaimer.</strong>

  <ul>
    <li>Stichting Devoxx4Kids Nederland werkt de inhoud van de website regelmatig bij en actualiseert de
      website regelmatig. Ondanks deze inspanningen, is het mogelijk dat inhoud van deze website onvolledig
      of verouderd is.</li>
    <li>Stichting Devoxx4Kids Nederland geeft op geen enkele wijze garantie over de juistheid of
      volledigheid van de informatie die op deze website wordt geraadpleegd.</li>
    <li>Stichting Devoxx4Kids Nederland biedt geen garantie over de veiligheid van onze website en kan
      zodoende niet aansprakelijk gesteld worden voor eventuele schade die direct of indirect wordt geleden
      door het gebruik van onze website.</li>
    <li>Stichting Devoxx4Kids Nederland is niet verantwoordelijk voor pagina’s van externe partijen
      waarnaar verwezen wordt.</li>
    <li>Stichting Devoxx4Kids Nederland verschaft informatie op haar website, zonder enkele garantie
      of waarborg. Aan de informatie op de website kunnen op geen enkele wijze rechten worden ontleend.</li>
    <li>Stichting Devoxx4Kids Nederland kan niet aansprakelijk worden gesteld welke schade dan ook geldt
      door het gebruik van de informatie op onze website.</li>
    <li>Stichting Devoxx4Kids Nederland zal de website naar eigen inzicht en op ieder gewenst moment
      veranderen of beëindigen. Stichting Devoxx4Kids Nederland kan niet aansprakelijk worden gestel
      voor de gevolgen van wijzigingen of beëindiging op/ van haar website.</li>
    <li>Gebruiker is zelf verantwoordelijk voor het gebruik van alle informatie die gegeven wordt
    op onze website.</li>
  </ul>

  <h3>Over Stichting Devoxx4Kids Nederland</h3>

  <p>Stichting Devoxx4Kids Nederland, gevestigd aan Lutulistate 41, 6716 NT EDE, is verantwoordelijk
    voor de inhoud van deze website zoals beschreven in deze disclaimer.</p>
  <p>Stichting Devoxx4Kids Nederland is ingeschreven in het Handelsregister bij de KvK onder nummer:
    61634751 en RSIN: 854422961.</p>

</littil-content-container>
