<div class="p-4 bg-blue-50 flex justify-between items-center">
  <div>Logo</div>
  <div>
    <littil-button
      *ngIf="(auth.isAuthenticated$ | async) === false"
      [inline]="true"
      data-test="register-btn"
      (click)="openLoginModal()"
      >Registeren</littil-button
    >
    <littil-button
      *ngIf="(auth.isAuthenticated$ | async) === false"
      [inline]="true"
      data-test="login-btn"
      (click)="openLoginModal()"
      >Inloggen</littil-button
    >
    <littil-button
      *ngIf="auth.user$ | async as user"
      [inline]="true"
      data-test="logout-btn"
      (click)="logout()"
      >Uitloggen</littil-button
    >
    <littil-button
      *ngIf="auth.user$ | async as user"
      [inline]="true"
      data-test="logout-btn"
      (click)="call()"
    >testcall</littil-button
    >
    <span class="user-info"
          *ngIf="auth.user$ | async as user"
          style="float: right"
    >
              <!-- Profile image should be set to the profile picture from the id token -->
              <img
                alt="Profile picture"
                class="nav-user-profile d-inline-block rounded-circle mr-3"
                style="width: 75px;"
                [src]="user.picture"
              />
      <!-- Show the user's full name from the id token here -->
              <h6 class="d-inline-block">{{ user.name }}</h6>
    </span>
  </div>
</div>
