.feedback-btn {
  position: absolute;
  position-attachment: fixed;
  width: 45px;
  height: 100px;
  background: rgb(45, 46, 131);
  top: 45%;
  right: 0;
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  box-shadow: 1px 1px 3px #000;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease-out;
}

.feedback-btn:hover {
  width: 50px;
}

.feedback-txt {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  position: absolute;
  right: -13px;
  top: 35px;
  color: #fff;
  transition: 0.2s ease-out;
}

.feedback-btn:hover .feedback-txt {
  right: -6px;
}
