<littil-content-container [outerClasses]="'bg-blue-50 flex'" [innerClasses]="'flex justify-between'">
  <div>
    <img src="assets/littil_logo.png" class="h-12" alt="LITTIL logo"/>
  </div>
  <div class="flex items-center">
    <div>
      <img src="assets/playschool-top-icon-email@2x.png">
    </div>
    <div class="ml-3">
      <b>Email</b>
      <p class="mt-0 mb-0">
        <a href="mailto:info@littil.org">info@littil.org</a>
      </p>
    </div>
  </div>
  <littil-user-menu></littil-user-menu>
</littil-content-container>
<div class="bg-yellow-100 mb-6">
  <div
    class="mx-auto max-w-screen-lg text-white uppercase flex justify-items-stretch text-sm antialiased divide-x divide-yellow-200">
    <ng-container *ngFor="let route of menuRoutes">
      <littil-main-menu-button
        class="flex-1 flex items-center"
        *ngIf="!route.subRoutes && !route.disabled"
        [path]="route.path"
      >{{ route.menuText }}</littil-main-menu-button>
      <littil-main-menu-dropdown-button
        class="flex-1"
        *ngIf="route.subRoutes"
        [path]="route.path"
        [subRoutes]="route.subRoutes"
      >{{ route.menuText }}</littil-main-menu-dropdown-button>
    </ng-container>
  </div>
</div>
<router-outlet></router-outlet>
