<div [@hideShow]="loading || hideForm ? 'hidden' : 'visible'" class="prose">
  @if(!hideForm){
  <h1 class="font-bold text-lg text-blue-200 mb-3">Registeren</h1>
  <p>
    Vul hier uw e-mailadres in om u te registreren. U ontvangt een e-mail om uw inschrijving te
    bevestigen en een wachtwoord aan te maken.
  </p>
  <p>Na activatie van uw account kunt u uw profiel verder afmaken.</p>
  <form [formGroup]="registerForm" data-test="form-register" (submit)="onClickRegister()">
    <littil-form-input-text formControlName="email" id="email" label="E-mailadres">
      <littil-form-error-message
        [customErrors]="{
          required: 'E-mailadres is verplicht'
        }"
        controlName="email"
      ></littil-form-error-message>
    </littil-form-input-text>
  </form>

  <div class="flex">
    <littil-button
      data-test="registerButton"
      [inline]="true"
      [disabled]="creatingProfile"
      (click)="onClickRegister()"
      >Registreren</littil-button
    >
    <littil-button
      data-test="cancelButton"
      [inline]="true"
      [disabled]="creatingProfile"
      [color]="'yellow'"
      (click)="closeModal()"
      class="mr-4"
      >Annuleren</littil-button
    >
  </div>
  @if(creatingProfile){
  <p *ngIf="creatingProfile">Uw account wordt aangemaakt</p>
  } }
</div>

<div [@hideShow]="hideConfirmation ? 'hidden' : 'visible'" class="prose">
  @if(!hideConfirmation){
  <h1 class="font-bold text-lg text-blue-200 mb-3">Registratie gelukt</h1>
  <p>Check je inbox om in te loggen en een eigen wachtwoord aan te maken.</p>
  <littil-button data-test="loginButton" [inline]="true" (click)="onClickLogin()"
    >Inloggen
  </littil-button>
  <littil-button data-test="closeButton" [inline]="true" [color]="'yellow'" (click)="closeModal()"
    >Sluiten
  </littil-button>
  }
</div>
