<littil-title>Informatie voor Sponsors</littil-title>

<littil-content-container>
    <p>Stichting Devoxx4Kids, en ook platform LITTIL, verzorgen Devoxx4Kids dagen en workshops op scholen zonder
      hiervoor
      kosten in rekening te brengen voor de kinderen/ouders. Wij vinden namelijk dat ieder kind het recht heeft om alles
      over IT te leren.
    </p>
    <p>
      Maar het opzetten en onderhouden van het LITTIL platform kost geld. Daarom zoeken wij sponsors!
      Mocht u interesse hebben om uw bedrijf te verbinden aan dit initiatief, neem dan contact met ons op!
    </p>
  <littil-contact-banner></littil-contact-banner>
</littil-content-container>
<littil-footer></littil-footer>
