<div
  class="h-32 sm:h-32 md:h-96 w-full bg-contain bg-center bg-no-repeat bg-lightblue-100 -mt-6 mb-6"
  style="background-image: url('./assets/littil-scaled-banner.png')"
></div>
<littil-content-container>
  <h1>Kinderen op een leuke en inspirerende manier kennis laten maken met programmeren.</h1>
  <strong
    >Vanuit de stichting Devoxx4kids willen we meer kinderen enthousiast maken voor het programmeer
    vak en hen via scholen bereiken en ondersteunen.
  </strong>

  <p>
    Hiervoor is het platform genaamd LITTIL, waarmee techneuten die het leuk vinden om workshops te
    geven in contact kunnen komen met scholen en andersom.
  </p>
  <p>
    Meld je aan via de registratie knop als school of als gastdocent. Via de zoekpagina kan je
    kijken of er een match te maken is. LITTIL is een Open Source initiatief en wordt gemaakt en
    beheerd door uitsluitend vrijwilligers. Vind je het leuk om hier ook een bijdrage aan te
    leveren, neem dan <a [routerLink]="'/contact'">contact</a> met ons op of draag direct bij via
    onze
    <a href="https://github.com/Devoxx4Kids-NPO/littil-documentation" target="_blank">github</a>
    repository.
  </p>

  <div class="flex flex-col items-center">
    <h2>Het LITTIL platform</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
      <div>
        <img
          class="mt-0 mb-0"
          src="assets/slides/story1.png"
          alt="Schoolgebouw illustratie met tekst-bubbel: Wij willen programmeerles geven aan onze klassen"
        />
      </div>
      <div>
        <img
          class="mt-0 mb-0"
          src="assets/slides/story2.png"
          alt="Schoolgebouw illustratie met tekst-bubbel: Maar niemand op onze school weet hoe"
        />
      </div>
      <div>
        <img
          class="mt-0 mb-0"
          src="assets/slides/story3.png"
          alt="Schoolgebouw illustratie met tekst-bubbel: Hoe vinden we een gastdocent?"
        />
      </div>
      <div>
        <img
          class="mt-0 mb-0"
          src="assets/slides/story4.png"
          alt="Illustratie van een man achter een laptop met tekst-bubbel: Dit is super leuk wat ik aan het doen ben, meer mensen zouden dit moeten weten."
        />
      </div>
      <div>
        <img
          class="mt-0 mb-0"
          src="assets/slides/story5.png"
          alt="Illustratie van een man achter een laptop met tekst-bubbel: En zeker kinderen!"
        />
      </div>
      <div>
        <img
          class="mt-0 mb-0"
          src="assets/slides/story6.png"
          alt="Illustratie van een man achter een laptop met tekst-bubbel: Hoe zou ik die kunnen bereiken?"
        />
      </div>
      <div>
        <img
          class="mt-0 mb-0"
          src="assets/slides/story7.png"
          alt="Illustratie van een man achter een laptop met tekst-bubbel: Is er een bassischool waar ik een gastles zou kunnen geven?"
        />
      </div>
      <div>
        <img
          class="mt-0 mb-0"
          src="assets/slides/story8.png"
          alt="Illustratie van een man achter een laptop met tekst-bubbel: Ik heb in het verleden al leuke lesmodules voor kinderen ontwikkeld."
        />
      </div>
      <div>
        <img
          class="mt-0 mb-0"
          src="assets/slides/story9.png"
          alt="Illustratie van een man achter een laptop met tekst-bubbel: Het zou heel mooi zijn als dit hergebruikt kan worden. Is er een omgeving waar ik die lesmodules voor kinderen neer kan zetten?"
        />
      </div>
      <div>
        <img
          class="mt-0 mb-0"
          src="assets/slides/story10.png"
          alt="Illustratie van een schoolgebouw met tekst-bubbel: Hoe vinden we een gastdocent? Illustratie van een man achter een laptop met tekst-bubbel: Is er een bassischool waar ik een gastles zou kunnen geven?"
        />
      </div>
      <div>
        <img
          class="mt-0 mb-0"
          src="assets/slides/story11.png"
          alt="Illustratie van een schoolgebouw met tekst-bubbel: Hoe vinden we een gastdocent? Illustratie van een man achter een laptop met tekst-bubbel: Is er een bassischool waar ik een gastles zou kunnen geven? Geillustreerde pijlen tussen de twee partijen die elkaar kunnen vinden via LITTIL."
        />
      </div>
    </div>
  </div>
</littil-content-container>
<littil-footer></littil-footer>
